.about-section {
    padding-top: rem(77px);

    @include tablets {
        padding: 0;
    }
}

.about__title {
    margin-bottom: rem(75px);

    @include tablets {
        &::before {
            left: 8%;
        }

        &::after {
            right: 8%;
        }
    }
}

.about-info__block {
    width: rem(1140px);
    margin: 0 auto rem(160px);
    background: url(../../img/ajy.png) rem(863px) rem(70px)  no-repeat;

    @include tablets {
        width: 94%;
        background: url(../../img/ajy.png) 99% rem(70px)  no-repeat;

    }

}

.about-info__title {
    color: #32505a;
    font-size: rem(24px);
    font-weight: 700;
    margin-bottom: rem(39px);
}

.about-info__text {
    color: #4d4d4d;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
}

.about-info__paragraph {
    margin-bottom: rem(30px);
    padding-right: rem(355px);

    @include tablets {
        padding-right: rem(310px);

    }

    &:last-child {
        margin-bottom: 0;

        @include tablets {
            padding: 0;
        }
    }
}