.comments-title {
    margin-bottom: rem(40px);
}

.comments__block {
    width: rem(1140px);
    margin: 0 auto;
    margin-bottom: rem(110px);

    @include tablets {
        width: 99%;
        margin: 0 auto;
        overflow: hidden;
    }
}

.comments__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    @include tablets {
    }
}

.comments__item {
    width: rem(360px);
    height: rem(524px);
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

    @include tablets {
        width: 50%;
        margin-right: rem(30px);
    }

}