.main__footer {
    background-color: #1a2d34;
}

.footer__container {
    width: rem(1170px);
    margin: 0 auto;

    @include tablets {
        width: 94%;
    }
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    padding-top: rem(70px);
    margin-bottom: rem(60px);

    @include tablets {
        margin-bottom: rem(40px);
        padding: 0 rem(23px);
        flex-direction: column;
    }
}

.footer-menu__list {
    @include tablets {
        position: relative;
    }
}

.footer-menu__wrapper {
    @include tablets {
        background-color: #20353d;
        display: none;
    }
}

.footer-menu__link {
    font-size: rem(12px);
    color: #6b96a5;

    @include tablets {
        line-height: rem(30px);
    }
}



.footer-menu__item--bold {
    
    a {
        font-size: rem(14px);
        color: #ffffff;
        margin-bottom: rem(20px);
    }

    @include tablets {
        font-size: rem(16px);
        padding: rem(23px) 0;
        font-family: 'Myriad Pro' sans-serif;
        text-transform: uppercase;

    }
}

.footer-menu__item--bold-l {
    a {
        font-size: rem(14px);
        color: #ffffff;
        margin-bottom: rem(20px);
        @include tablets {
            font-size: rem(12px);
            color: #6b96a5;
            margin: 0;
        }
    }
    

}


.footer-menu__item--menu {
    display: none;

    @include tablets {
        display: block;
    }
}


.footer-info {
    display: flex;
    justify-content: space-around;
}

.footer-info__miushi {
    font-size: rem(12px);
    color: #6b96a5;

}

.footer-info__agreement-link {
    font-size: rem(12px);
    color: #6b96a5;
    text-decoration: underline;
}

.footer-info__socials {
    display: flex;
    margin-bottom: rem(50px);

    div {
        margin-right: rem(15px);
    }
}

.footer-menu__btn {
    display: none;

    @include tablets {
        display: block;
        font-size: 0;
        width: rem(20px);
        height: rem(11px);
        border: none;
        margin-top: rem(30px);
        background-image: url(../../img/arrow-bottom.png);
        background-color: transparent;
        cursor: pointer;

    }
}

.footer-menu__top {
    @include tablets {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
}

.active-accordion {
    button {
        background-image: url(../../img/arrow-top.png);
    }
}

.footer-menu__top.active-accordion + .footer-menu__wrapper {
    display: block;
    animation: emerging 0.5s ease-in-out 0s;

    li {
        animation: appearance 0.5s ease-in-out 0s;
    }
}

@keyframes emerging {
    0% {
        height: 0;
   }

    25% {
        height: 25%;
    }

    50% {
        height: 50%;
    }

    75% {
        height: 75%;
    }

    100% {
        height: auto;
  }
}

@keyframes appearance {
    0% {
        opacity: 0;
   }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
  }
}

