.comments-title {
    margin-bottom: rem(40px);
}

.comments__block {
    width: rem(1140px);
    margin: 0 auto;
    margin-bottom: rem(110px);

    @include tablets {
        width: 99%;
        margin: 0 auto;
        overflow: hidden;
    }
}

.comments__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @include phones {
        flex-direction: column;
        align-items: center;
    }

}

.comments__item {
    width: rem(360px);
    height: rem(524px);
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

    @include tablets {
        width: 45%;
    }

    @include phones {
        width: 80%;
        margin-bottom: rem(10px);
        height: auto;
    }

}

.mob-tab-hidden {
    display: block;
    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}