.reasons-section{
    padding-top: rem(102px);

    @include phones {
        padding-top: rem(50px);
    }
}

.reasons-title {
    margin-bottom: rem(65px);

    @include tablets {
        font-size: rem(48px);
        &::before {
            left: rem(15px);

        }
    
        &::after {
            right: rem(15px);
        }
    }

    @include phones {
        line-height: rem(50px);

        &::before {
            display: none;
        }
    
        &::after {
            display: none;
        }

    }
}

.reasons-block {
    width: rem(1146px);
    margin: 0 auto;
    margin-bottom: rem(76px);

    @include tablets {
        width: 98%;
    }
}

.reasons__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include phones {
        flex-direction: column;
        margin-bottom: rem(10px);
    }

}

.reasons__item {
    width: 20%;
    padding-top: rem(100px);
    padding-bottom: rem(60px);
    text-align: center;
    position: relative;

    @include tablets {
        width: 33%;
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(92px);
        height: rem(73px);
        top: rem(13px);
        left: 50%;
    }

    &--kitchen {
        &::before {
            background: url(../img/kitchen.png) center center no-repeat;
            transform: translateX(-34px);
        }
    }

    &--dish {
        &::before {
            background: url(../img/dish.png) center center no-repeat;
            transform: translateX(-38px);
        }
    }

    &--money {
        &::before {
            background: url(../img/money.png) center center no-repeat;
            transform: translateX(-38px);
        }
    }

    &--like {
        &::before {
            background: url(../img/like.png) center center no-repeat;
            transform: translateX(-30px);
        }
    }
    &--fish {
        &::before {
            background: url(../img/fish.png) center center no-repeat;
            transform: translateX(-43px);
        }
    }
    &--rice {
        &::before {
            background: url(../img/rice.png) center center no-repeat;
            transform: translateX(-32px);
        }
    }
    &--octopus {
        &::before {
            background: url(../img/octopus.png) center center no-repeat;
            transform: translateX(-36px);
        }
    }
    &--knife {
        &::before {
            background: url(../img/knife.png) center center no-repeat;
            transform: translateX(-46px);
        }
    }
    &--pizza {
        &::before {
            background: url(../img/pizza.png) center center no-repeat;
            transform: translateX(-31px);
        }
    }
    &--feather {
        &::before {
            background: url(../img/feather-hand-drawn-outline.png) center center no-repeat;
            transform: translateX(-32px);
        }

        @include tablets {
            margin: 0 auto;
        }
    }

    @include phones {
        width: 60%;
        margin: 0 auto;
    }

}

.reasons__text {
    color: #4d4d4d;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(28.43px);
    padding: 0 rem(14px);
}

.mob-hidden {
    @include phones {
        display: none;
    }
}

.reasons-block__btn,
.about-info__btn {
    display: none;
    
    @include phones {
        text-transform: uppercase;
        color: $orange;
        background-color: transparent;
        border: 1px solid $orange;
        border-radius: rem(5px);
        width: 80%;
        height: rem(40px);
        display: block;
        margin: 0 auto;   
        cursor: pointer;  
        
        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }
}